.center {
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body header {
    /* Fix image syntax */

    background-size: cover;
    background-position: center; /* Instead of background-color: center */
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Garamond', sans-serif;
}

#title {
    text-align: center;
}